<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/showevents">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/reservations">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout" style="margin-left: 300px;"
          >Logout</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<% include ./partials/messages %>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="home">
    <div class="jumbotron">
      <h2>Welcome, <%= user.username %></h2>
      <h5><strong>Name: </strong> <%= user.fname %> <%= user.lname %></h5>
      <h5><strong>Email: </strong> <%= user.email %></h5>
      <h5><strong>Birth Date: </strong> <%= user.birthday %></h5>
      <h5><strong>Gender: </strong> <%= user.gender %></h5>
      <h5><strong>Location: </strong> <%= user.city %>, <%= user.address %></h5>
      <hr class="my-4" />
      <form
        class="form-inline my-2 my-lg-0"
        action="/user/editprofile"
        method="get"
      >
        <button class="btn btn-info my-2 my-sm-0" href="/user/editprofile">
          Edit Profile
        </button>
      </form>
    </div>
  </div>
</div>
