<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user/dashboard"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/createevent">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout" style="margin-left: 300px;"
          >Logout</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Edit profile
      </h1>
      <% include ./partials/messages %>
      <form action="/user/editprofile" method="POST">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input
            type="name"
            id="fname"
            name="fname"
            class="form-control"
            placeholder="<%= user.fname %>"
            value="<%= typeof fname != 'undefined' ? fname : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input
            type="name"
            id="lname"
            name="lname"
            class="form-control"
            placeholder="<%= user.lname %>"
            value="<%= typeof lname != 'undefined' ? lname : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="New Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm New Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="birthdate">Birth Date</label>
          <input
            type="date"
            id="birthdate"
            name="birthdate"
            class="form-control"
            placeholder="<%= user.birthday %>"
            value="<%= typeof birthdate != 'undefined' ? birthdate : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" name="gender" id="gender" >
            <option name="gender" value="male" 
            <% if(user.gender == "male"){ %>
                 selected 
                 <% }%>
                 >Male</option>
            <option name="gender" value="female" <% if(user.gender == "female"){ %>
                selected 
                <% }%>>Female</option>
            <option name="gender" value="other" <% if(user.gender == "other"){ %>
                selected 
                <% }%>>Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            id="city"
            name="city"
            class="form-control"
            placeholder="<%= user.city %>"
            value="<%= typeof city != 'undefined' ? city : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="address">Address (Optional)</label>
          <input
            type="text"
            id="address"
            name="address"
            class="form-control"
            placeholder="<%= user.address %>"
            value="<%= typeof address != 'undefined' ? address : '' %>"
          />
        </div>

        <button type="submit" class="btn btn-success btn-block" href="">
          Save
        </button>
        <a  class="btn btn-danger btn-block" href="/user/dashboard"> Cancel </a>
        
      </form>
    </div>
  </div>
</div>
