
    <link rel="stylesheet" href="/opera.css" />

    </div>
    <form action="/user/reserve" method="POST">
    <div class="plane">
      <div class="cockpit">
        <h1><%=eventName%></h1>
      </div>
      <ol class="cabin fuselage">
        <% let seat= "" %> 
        <% let lol= "" %> 
        
        <% for(let i=0; i < hall.num_rows; i++){ %>
        <li class=" row--2">
          <ol class="seats" type="A">
            <% for(let j=0; j < hall.num_seats_per_row; j++){ %> <%
            seat=String.fromCharCode(i+65)+j%>
              <% if( occupiedSeats.includes(seat)) {%>
                <li class="seat">
                  <input type="checkbox" disabled id="<%=seat%>" name="<%=seat%>" />
                  <label  for="<%=seat%>" value=""><%=seat%> </label>
                </li>    
              
              <%} else {%>
            <li class="seat">
                <% if (user.authorization!="manager"){%>
              <input type="checkbox" id="<%=seat%>" name="<%=seat%>" />
                <%}%>
              <label  for="<%=seat%>" value=""><%=seat%> </label>
            </li>
            

            <% } %>
            <% } %>
          </ol>
        </li>
        <%}%>
      </ol>
      <br/>
      <hr class="my-4">
      <% if (user.authorization!="manager"){%>
        <div class="form-group">
          <label for="card">Enter Card Details</label>
          <input
            type="string"
            id="card"
            name="card"
            class="form-control"
            placeholder="XXXX XXXX XXXX XXXX"
            value="<%= typeof card != 'undefined' ? card : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="pin">PIN</label>
          <input
            type="number"
            id="pin"
            name="pin"
            class="form-control"
            placeholder="XXX"
            value="<%= typeof pin != 'undefined' ? pin : '' %>"
          />
        </div>
          <button type="submit" class="btn btn-primary btn-block">
            Reserve
          </button>
        <%} else{
          %>
          <ol  class="seats" type="A">
              <li class="seat">
                  <label  value=""><%=(hall.num_rows* hall.num_seats_per_row)-occupiedSeats.length %> </label>
                </li> 

                <li class="seat">
                    <label style="background:whitesmoke;"  value=""><%=occupiedSeats.length %> </label>
                  </li> 
          </ol>

        <%}%>
      </form>
    </div>
